<!DOCTYPE html>
<html ng-app="tweetanalyzer">
<head>
	<title>Tweet Analyzer</title>
	<link href="assets/style.css" rel="stylesheet"/>
	<script src="/socket.io/socket.io.js"></script>
	<script src="assets/head.js"></script>
</head>
<body>
	<h1>Tweet Analyzer</h1>
	<div class="content">