<% include ./partials/head.ejs %>
<div id="data_collected">
	<h2>Datasets</h2>
	<div ng-controller="DatasetsController">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="dataset-addition">
					<form class="form-inline">
						<fieldset ng-disabled="dataset_watching">
							<input type="text" class="form-control" ng-model="dataset_to_add" placeholder="Enter a search query"/>
							<button type="button" class="btn btn-primary" ng-click="startDataCollection()"><span class="glyphicon glyphicon-plus"></span> Add a new dataset</button>
						</fieldset>
						<fieldset ng-show="dataset_watching">
							<button type="button" class="btn btn-danger" ng-click="stopDataCollection()">Stop collecting data</button>
							<span class="glyphicon glyphicon-cog spinning dataset-seeking"></span>
							<span class="status">
								{{status.count}} tweets found. {{status.time}} elapsed.
							</span>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<div class="results">
		<!--ng-show="chart != false"-->
			<% include ./partials/chart.sockpuppet.ejs %>
		</div>
		<table ng-repeat="query in datasets" class="table">
			<thead>
				<tr>
					<th colspan="3">{{query[0].query}}</th>
				</tr>
				<tr>
					<th>Date/time captured</th>
					<th>Number of tweets</th>
					<th>Run Report</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dataset in query">
					<td>{{dataset.label}}</td>
					<td>{{dataset.length}}</td>
					<td>
						<select ng-model="dataset.reportToRun">
							<option value="sockpuppet">User account creation date</option>
						</select>
						<button type="button" ng-click="runReport(dataset,dataset.reportToRun)" class="btn btn-primary btn-xs">Run report</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<% include ./partials/foot.ejs %>