body,html{padding:0px;margin:0px;}

@darkblue: #345C66;
@lightblue: #A7C2C1;
@grey: #363636;
@sand: #FFE9C4;
@red: #C44545;
@offwhite: #DADADA;

body{
	background:@offwhite;
	color:@grey;
}
h1{
	background:@red;
	padding:30px 10px;
	margin:20px 0 0 0;
	border-bottom:1px solid darken(@red,20%);
	border-top:1px solid lighten(@red,20%);
}

.content{
	padding:30px 10px;
}